# Archivos y directorios generados por entorno virtual
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos generados por Django
*.log
db.sqlite3
__pycache__/
migrations/
*.pyc
*.pyo
*.pyd
*.py~

# Otros archivos y directorios comunes que podrías querer ignorar
*.pyc
*.pyo
.DS_Store
.env
